---
title: "Categories"
layout: default
permalink: "/categories.html"
---

<div class="row listrecent">
    {% assign categories_list = "Inside Products, Product Analytics, Tech Stories, Project Lab, Career & Growth" | split: ", " %}
    
    {% for category in categories_list %}
    <div class="section-title col-md-12 mt-4">
        <h2 id="{{ category | replace: " ","-" }}">Category <span class="text-capitalize">{{ category }}</span></h2>
    </div>

    {% assign pages_list = site.categories[category] %}
    {% for post in pages_list %}
        {% if post.title %}
            {% include postbox.html %}
        {% endif %}
    {% endfor %}
    {% endfor %}
</div>